<include file="Index/head" title="图片压缩" />

		<link rel="stylesheet" href="_CSSPATH_/jquery.filer.css" />
		<link rel="stylesheet" href="_CSSPATH_/bootstrap-slider.min.css" />
		<style>
			.slider-selection{ background: #428BCA;}
		</style>

		<div class="container-fluid">
			<div class="row pb25">
				<include file="Index/leftnav" />
				<div class="col-md-10">
					<div class="box-border">
						<h3>图片压缩 <small>（图片最大不能超过 {$Think.config.MAX_UPLOAD_SIZE} M，图片越大，处理时间越长）</small></h3>
						<form action="{:U('Imgcut/imgdown')}" role="form" id="imgdownform" method="post">
							<div class="form-group">
						    <div class="input-group col-md-10">
						      <span class="input-group-btn">
						        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#imgcutmodal">上传图片</button>
						      </span>
						      <input type="url" id="inputurl" name="remoteurl" class="form-control" placeholder="点击上传图片按钮 或 直接输入远程图片链接并点击加载图片按钮即可开始处理图片">
						      <span class="input-group-btn">
						        <button class="btn btn-primary" type="button" id="loadimg">加载图片</button>
						      </span>
						    </div>
							</div>
						</form>
						<form action="{:U('Imgcut/imgcompressfun')}" role="form" id="imgcompressform" class="form-inline hidden" method="post">
							<div class="form-group">
								<span class="fz16">设置压缩比：</span>
					      <input type="range" id="compressnum" name="compressnum" data-slider-id="exslider" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="75">
					      <input type="hidden" id="imgurl" name="imgurl">
					      <span class="fz16" id="compressnumval">&nbsp;&nbsp;75%</span>&nbsp;&nbsp;
					      <button class="btn btn-primary" type="button" id="startcompress">开始压缩</button>
							</div>
						</form>
						<div class="col-xs-12 imgcutwrap">
							<div class="imgcutyes"></div>
							<div class="imgcutdiv">
								<img src="" id="imgcutimgsrc" class="imgcutimgsrc">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--图片上传表单模态框-->
		<div class="modal fade" id="imgcutmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
	  	  <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">图片上传</h4>
		      </div>
		      <div class="modal-body">
		        <p>
		        	<form action="{:U('Imgcut/imgup')}" id="imgupform" role="form" method="post" enctype="multipart/form-data">
		        		<div class="form-group">
		        			<input type="file" name="file" id="filer_input">
		        		</div>
      				</form>
		        </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary" id="startup">开始上传</button>
		      </div>
		    </div>
		  </div>
		</div>
<include file="Index/foot" />

<script src="_JSPATH_/jquery.filer.min.js"></script>
<script src="_JSPATH_/bootstrap-slider.min.js"></script>
<script>
	$(function(){
		document.querySelector(".list-group-item[data-hover='{$currnav}']").className += " active"
		
		//range美化
		var mySlider = new Slider("#compressnum", {
    	
		});
		mySlider.on("slide", function(slideEvt) {
			$("#compressnumval").text(slideEvt.value+'%')
		})
	
		//图片上传
		$('#filer_input').filer({
			limit: 1,
	    showThumbs: true,
	    extensions: ['jpg', 'jpeg', 'png', 'gif'],
	    maxSize: {$Think.config.MAX_UPLOAD_SIZE},
	    templates: {
        box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
        item: '<li class="jFiler-item">\
                    <div class="jFiler-item-container">\
                        <div class="jFiler-item-inner">\
                            <div class="jFiler-item-thumb">\
                                <div class="jFiler-item-status"></div>\
                                <div class="jFiler-item-info">\
                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                    <span class="jFiler-item-others">{{fi-size2}}</span>\
                                </div>\
                                {{fi-image}}\
                            </div>\
                            <div class="jFiler-item-assets jFiler-row">\
                                <ul class="list-inline pull-left">\
                                    <li>{{fi-progressBar}}</li>\
                                </ul>\
                                <ul class="list-inline pull-right">\
                                    <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                </ul>\
                            </div>\
                        </div>\
                    </div>\
                </li>',
        itemAppend: '<li class="jFiler-item">\
                        <div class="jFiler-item-container">\
                            <div class="jFiler-item-inner">\
                                <div class="jFiler-item-thumb">\
                                    <div class="jFiler-item-status"></div>\
                                    <div class="jFiler-item-info">\
                                        <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                        <span class="jFiler-item-others">{{fi-size2}}</span>\
                                    </div>\
                                    {{fi-image}}\
                                </div>\
                                <div class="jFiler-item-assets jFiler-row">\
                                    <ul class="list-inline pull-left">\
                                        <li><span class="jFiler-item-others">{{fi-icon}}</span></li>\
                                    </ul>\
                                    <ul class="list-inline pull-right">\
                                        <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                    </ul>\
                                </div>\
                            </div>\
                        </div>\
                    </li>',
        progressBar: '<div class="bar"></div>',
        itemAppendToEnd: true,
        removeConfirmation: false,
        _selectors: {
            list: '.jFiler-items-list',
            item: '.jFiler-item',
            progressBar: '.bar',
            remove: '.jFiler-item-trash-action'
        }
	    },
	    onSelect: function(){
	    	$('#startup').off('click')
	    	$('#startup').click(function(){
	    		$('.bg-mask').show()
		  		$('#imgupform').ajaxSubmit(function(msg){
		  			$('#inputurl').val("{$Think.config.FULL_HOST}"+msg)
		  			$('#imgurl').val(msg)
						$('#imgcutimgsrc').attr('src', '{$Think.config.FULL_HOST}'+msg)
		  			$('#imgcutmodal').modal('hide')
		  			$('#imgcompressform').removeClass('hidden')
		  			$('.bg-mask').hide()
		  		})
		  	})
	    },
	    onEmpty: function(){
	    	$('#startup').off('click')
	    	$('#startup').click(function(){
	    		alert("请选择一张图片上传再进行操作！");
	    	})
	    },
	   	captions:{
		    button: "选择文件",
		    feedback: "选择上传的文件",
		    feedback2: "个文件被选择",
		    drop: "把文件拖动到这里上传",
		    removeConfirmation: "确定删除这个文件?",
		    errors: {
	        filesLimit: "只能上传 {{fi-limit}} 个文件.",
	        filesType: "只能上传图像文件.",
	        filesSize: "{{fi-name}} 太大了，允许上传的文件最大为 {{fi-maxSize}} MB.",
	        filesSizeAll: "选择的文件太大了，允许上传的文件最大为 {{fi-maxSize}} MB."
		    }
			}
		})
		
		$('#loadimg').click(function(){
			$('.bg-mask').show()
			if( $('#inputurl').val().replace(/(^\s*)|(\s*$)/g, "").length > 0 ){
				$('#imgdownform').ajaxSubmit(function(msg){
					if( msg == 404 ){
						$('.bg-mask').hide()
						alert("请输入正确的图片链接！")
					}else{
						$('#inputurl').val("{$Think.config.FULL_HOST}"+msg)
						$('#imgcutimgsrc').attr('src', '{$Think.config.FULL_HOST}'+msg)
						$('.bg-mask').hide()
					}
				})
			}else{
				$('.bg-mask').hide()
				alert("请输入完整的图片链接之后再点击加载，或者直接上传一张图片进行操作！")
			}
		})
		
		$('#startcompress').click(function(){
			$('.bg-mask').show()
			$('#startcompress').ajaxSubmit(function(msg){
				if( msg == 404 ){
					$('.bg-mask').hide()
					alert("请输入正确的图片链接！")
				}else{
					$('#inputurl').val("{$Think.config.FULL_HOST}"+msg)
					$('#imgcutimgsrc').attr('src', '{$Think.config.FULL_HOST}'+msg)
		  		$('#imgcompressform').addClass('hidden')
		  		$('.imgcutyes').html('<h4>压缩完成，请将图片另存到本地或 <a href="javascript:;" class="btn btn-primary">下载图片</a></h4>')
					$('.bg-mask').hide()
				}
			})
		})
	})
</script>