		<div class="foot navbar-inverse">
			<a href="__ROOT__">tool.akphp.com</a> 本站定时清理所有图片，请自行保存
			<span id='cnzz_stat_icon'><a href="http://www.cnzz.com/stat/website.php?web_id=1261139449" target="_blank"><img src="/Public/images/cnzz_icon.gif"></a></span>
		</div>
		<div class="bg-mask">
			<div class="spinner">
			  <div class="spinner-container container1">
			    <div class="circle1"></div>
			    <div class="circle2"></div>
			    <div class="circle3"></div>
			    <div class="circle4"></div>
			  </div>
			  <div class="spinner-container container2">
			    <div class="circle1"></div>
			    <div class="circle2"></div>
			    <div class="circle3"></div>
			    <div class="circle4"></div>
			  </div>
			  <div class="spinner-container container3">
			    <div class="circle1"></div>
			    <div class="circle2"></div>
			    <div class="circle3"></div>
			    <div class="circle4"></div>
			  </div>
			</div>
			<div class="error-message"><span>加</span><span>载</span><span>中</span><span>.</span><span>.</span><span>.</span></div>
		</div>
		<script src="_JSPATH_/jquery-1.11.2.min.js"></script>
		<script src="_JSPATH_/bootstrap.min.js"></script>
		<script src="_JSPATH_/jquery.bootstrap-autohidingnavbar.min.js"></script>
		<script src="_JSPATH_/style.js"></script>
		<script src="https://s95.cnzz.com/z_stat.php?id=1261139449&web_id=1261139449" language="JavaScript"></script>
	</body>
</html>
