				<div class="col-md-2">
					<div class="list-group xs-left-group">
			      <a href="javascript:;" class="list-group-item" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><i class="glyphicon glyphicon-picture"></i> 图片类处理</a>
			      <div id="collapse1" class="xs-collapse-a collapse in">
			        <a href="{:U('Imgcut/index')}" class="list-group-item" data-hover="Imgcut">图片裁剪</a>
			      </div>
			    </div>
			    <div class="list-group xs-left-group">
			      <a href="javascript:;" class="list-group-item" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><i class="glyphicon glyphicon-lock"></i> 转码加密类处理</a>
			      <div id="collapse2" class="xs-collapse-a collapse in">
			        <a href="{:U('Code/index')}" class="list-group-item" data-hover="unixtime">Unix时间戳转换</a>
			        <a href="{:U('Code/utf8')}" class="list-group-item" data-hover="utf8">UTF-8转换</a>
			        <a href="{:U('Code/chinese')}" class="list-group-item" data-hover="chinese">汉字简繁转换</a>
			        <a href="{:U('Code/urlencode')}" class="list-group-item" data-hover="urlencode">UrlEncode编码<br>UrlDecode解码</a>
			        <a href="{:U('Code/unicode')}" class="list-group-item" data-hover="unicode">Unicode编码转换</a>
			        <a href="{:U('Code/md5')}" class="list-group-item" data-hover="md5">MD5加密</a>
			        <a href="{:U('Code/base64')}" class="list-group-item" data-hover="base64">Base64加解密</a>
			        <a href="{:U('Code/escape')}" class="list-group-item" data-hover="escape">Escape加密<br>UnEscape解密</a>
			      </div>
			    </div>
				</div>