<include file="Index/head" title="股票k线图" />

<div class="container-fluid">
	<div class="row pb25">
		<include file="Index/leftnav" />
		<div class="col-md-10">
			<div class="box-border">
				<h3>股票k线图 <small>股票k线图</small></h3>
				<div class="row">
					<form method="post" role="form">
						<div class="col-md-4">
							<div class="form-group">
								
							</div>
						</div>
						<div class="col-md-12">
							<div id="kline" style="height: 500px;"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<include file="Index/foot" />
<script src="_JSPATH_/echarts.min.js"></script>
<script>
	$(function(){
		var myChart = echarts.init(document.getElementById('kline'));
		
		//初始加载多条数据
		var data = [
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
			[(new Date()).getTime(), Math.floor(Math.random()*1000)],
		]
		var data1 = {}
		data1 = (function(data){
			var time = []
			var num = []
			var l = data.length
			for(var i=0; i<l; i++){
				time.push(data[i][0])
				num.push(data[i][1])
			}
			return {
				time: time,
				num: num
			};
		})(data)
		
		option = {
		    backgroundColor: '#fff',
		    title: {
		        text: '动态折线图',
		        textStyle: {
		            fontWeight: 'normal',
		            fontSize: 16,
		            color: '#333'
		        },
		        left: '2%'
		    },
		    tooltip: {
		        trigger: 'axis',
		        axisPointer: {
		            lineStyle: {
		                color: '#57617B'
		            }
		        }
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    xAxis: [{
		        type: 'category',
		        boundaryGap: false,
		        axisLine: {
		            lineStyle: {
		                color: '#57617B'
		            }
		        },
		        data: data1.time
		    }],
		    yAxis: [{
		        type: 'value',
		        axisTick: {
		            show: false
		        },
		        axisLine: {
		            lineStyle: {
		                color: '#57617B'
		            }
		        },
		        axisLabel: {
		            margin: 10,
		            textStyle: {
		                fontSize: 14
		            }
		        },
		        splitLine: {
		            lineStyle: {
		                color: '#57617B'
		            }
		        }
		    }],
		    series: [{
		        name: '移动',
		        type: 'line',
		        smooth: true,
		        symbol: 'circle',
		        symbolSize: 5,
		        showSymbol: false,
		        lineStyle: {
		            normal: {
		                width: 1
		            }
		        },
		        areaStyle: {
		            normal: {
		                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
		                    offset: 0,
		                    color: 'rgba(164, 219, 245, 0.6)'
		                }, {
		                    offset: 0.8,
		                    color: 'rgba(164, 219, 245, 0)'
		                }], false),
		                shadowColor: 'rgba(0, 0, 0, 0.1)',
		                shadowBlur: 10
		            }
		        },
		        itemStyle: {
		            normal: {
		                color: 'rgb(137,189,27)',
		                borderColor: 'rgba(137,189,2,0.27)',
		                borderWidth: 12
		
		            }
		        },
		        data: data1.num
		    }]
		}
		myChart.setOption(option)
		
		function getdata(){
			var data2 = [(new Date()).getTime(), Math.floor(Math.random()*1000)]	//获取一条
			
			data1.time.push(data2[0])
			data1.time.shift()
			data1.num.push(data2[1])
			data1.num.shift()
			
			//更新数据
      var option = myChart.getOption()
      option.xAxis[0].data = data1.time
      option.series[0].data = data1.num
      myChart.setOption(option)
		}
		setInterval(getdata, 1500)
	})
</script>